.grid-container {
  display: grid;
  grid-template-areas: 'header'
                       'content'
                       'footer'
}

.content-header {
  grid-area: header;
}

.content {
  grid-area: content;
}

.content-footer {
  grid-area: footer;
}


