// header
$header-bg-color: #444;
$header-bm: 1rem;
$header-color: white;


// grids
$grid-gap: 5px;

// Shadows
$box-shadow:rgba(0, 0, 0, 0.33) 1px 2px 7px 0px;

// Dimensions
$footer-height: 60px;
$header-height: 60px;
$sidebar-width: 204px;
